/* background-color:blue; */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;

}
body{
    /* background-color:blue; */
    background-image:url("bg.jpg") ;
    background-repeat: no-repeat;
background-size: contain;

    /* background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%); */

 background-attachment: fixed;
height:100vh;
justify-content: center; 
 align-items:center;
display: flex; 


}
.CONTAINER{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* margin-top: 40px; */
    margin-bottom:90px;
    margin:100px auto 60px auto;
    max-width: 700px;
    width: 80%;
    /* position: relative; */
    /* background-color: #fbc2eb; */
    height:auto;
    /* width:fit-content; */
    /* background:linear-gradient(purple,pink,lightblue); */
    box-shadow: 4px 5px 6px;
    
  /* background: linear-gradient(135deg, rgba(255,255,255,0.15), rgba(255,255,255,0.05)); */


/* background: */

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill; /* Or try 'cover' / 'contain' */
  z-index: -1;
}

    

}
.statscont{
    padding:30px;
    padding-top: 60px;
    border-radius: 10px;
    border:6px solid rgb(20, 20, 20);
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* background:purple; */

background: rgba(255, 255, 255, 0.1); /* semi-transparent glass */
backdrop-filter: blur(20px);
/* -webkit-backdrop-filter: blur(10px); for Safari support */
border: 1px solid rgba(255, 255, 255, 0.3); /* softer glassy border */
box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* subtle shadow */
color:aliceblue;

    gap:10px;
    width:100%;



}

#progressBar{
    width:100%;
    height:10px;
    
    background:linear-gradient(lightblue);
    border-radius:5px ;
    margin-top:30px;

}


#progres{
    width: 80%;
    height:10px;
    background:linear-gradient(pink,blue);
    border-radius: 10px;
    transition:all 0.3s ease;

}


#number{
    width: 100px;
    height: 100px;
    background-color: rgba(11, 163, 239, 0.2);
    align-items:center;
    border-radius: 50px;
    justify-content:center;
    text-align: center;
    font-size: 30px;
    font-weight:900;
     margin-top:0px;
     padding: 25px;
}

.details{
   
    width: 100%;
}





form{
    margin-top: 60px;
    width:100%;
    display: flex;
    max-width: 500px;
    padding:20px;
    text-align: center;
    border-bottom:0.5px solid white;
    gap:10px;
}

input{
    flex:1;
    padding:8px;
    outline:none;
    padding:12px;
    /* background:; */
    color:brown;
    border:1px solid violet ;
    margin-block:1px;
    border-radius:10px;
    font-size:16px;
        border-bottom:0.5px solid ;
  

}
button{
padding: 5px;
width:50px;
height: 50px;
border-radius: 50%;
display:flex;
align-items:center;
justify-content: center;
background-color:palevioletred;
color:blue;
font-size:30px;
font-weight:bold;
cursor: pointer;
outline:none;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;


}
button:hover{
      background-color:lightblue;
}

/* .text input[type="text"]{
    width:70%;
    border-radius:5px;
        background-color:antiquewhite; */

        /* border-bottom:0.5px solid rgb(149, 15, 31); */

/* }

.text input[type="button"]{
    background-color: blue;
    color:#fbc2eb;
    border-radius:5px;
    font-weight: 700;
    margin-left: 8px;
    cursor:pointer;
    padding:12px 20px;

}

.text input[type="button"]:hover{
    background-color:rgb(65, 152, 178);
}
ul{
    width:100%;
    max-width: 450px;
    display:flex;
    justify-content: center;
    flex-direction:column ;

}

.list{
    background-color: aqua;
    padding:10px;
    justify-content: center;
    text-align: center;
    display:flex;
} */


    
 
